[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
#服务端pid进程文件,若丢失则重启Mysql重新生成,若重启失败,
#则可能由于mysqld进程未杀死,用pkillmysql后则能重启成功Mysql
pid-file=/var/run/mysqld/mysqld.pid
secure-file-priv=NULL
symbolic-links=

#允许数据库最大连接数
max_connections=200
#允许客户端连接数据库出错次数,能防止暴力破解数据库密码
max_connect_errors=20
#服务器和数据库默认字符集
character-set-server=utf8
#客户端校正字符集
collation-server=utf8_general_ci
init_connect='SET NAMES utf8'
#忽略SQL语句大小写
lower_case_table_names=1
#bin_log文件保存的天数
expire_logs_days=7

[client]
default-character-set=utf8

[mysqldump]
quick
max_allowed_packet=32M

!includedir/etc/mysql/conf.d/