[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
#服务端pid进程文件,若丢失则重启Mysql重新生成,若重启失败,
#则可能由于mysqld进程未杀死,用pkillmysql后则能重启成功Mysql
pid-file=/var/run/mysqld/mysqld.pid
secure-file-priv=NULL
symbolic-links=

#允许数据库最大连接数
max_connections=200
#允许客户端连接数据库出错次数,能防止暴力破解数据库密码
max_connect_errors=20
#服务器和数据库默认字符集
character-set-server=utf8
#客户端校正字符集
collation-server=utf8_general_ci
init_connect='SET NAMES utf8'
#忽略SQL语句大小写
lower_case_table_names=1
#bin_log文件保存的天数
expire_logs_days=7

#一般设置为IP，唯一
server_id=101
#需要同步的数据库，如果是多个，就以此格式在写一行即可
binlog-do-db=mycloud
#不需要同步的数据库，如果是多个，就以此格式在写一行即可
binlog-ignore-db=mysql
#开启二进制日志功能，最好有含义，以备Slave作为其它Slave的Master时使用
log-bin=mycloud_log_bin
## 为每个session 分配的内存，在事务过程中用来存储二进制日志的缓存
binlog_cache_size=1M
#主从复制的格式（mixed,statement,row，默认格式是statement）
binlog_format=mixed
#二进制日志自动删除/过期的天数。默认值为0，表示不自动删除。
#expire_logs_days=7
#跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
slave_skip_errors=1062
#relay_log配置中继日志
relay_log=relay_log
## log_slave_updates表示slave将复制事件写进自己的二进制日志
log_slave_updates=1
## 防止改变数据(除了特殊的线程)
read_only=1

[client]
default-character-set=utf8

[mysqldump]
quick
max_allowed_packet=32M

!includedir/etc/mysql/conf.d/