[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
#服务端pid进程文件,若丢失则重启Mysql重新生成,若重启失败,
#则可能由于mysqld进程未杀死,用pkillmysql后则能重启成功Mysql
pid-file=/var/run/mysqld/mysqld.pid
secure-file-priv=NULL
symbolic-links=

#允许数据库最大连接数
max_connections=200
#允许客户端连接数据库出错次数,能防止暴力破解数据库密码
max_connect_errors=20
#服务器和数据库默认字符集
character-set-server=utf8
#客户端校正字符集
collation-server=utf8_general_ci
init_connect='SETNAMESutf8'
#忽略SQL语句大小写
lower_case_table_names=1
#bin_log文件保存的天数
expire_logs_days=7

#一般设置为IP，唯一
server_id=100
#需要同步的数据库，如果是多个，就以此格式在写一行即可
binlog-do-db=mycloud
#不需要同步的数据库，如果是多个，就以此格式在写一行即可
binlog-ignore-db=mysql
#开启二进制日志功能，最好有含义
log-bin=mycloud_log_bin
#为每个session 分配的内存，在事务过程中用来存储二进制日志的缓存
binlog_cache_size=1M
#主从复制的格式（mixed,statement,row，默认格式是statement）
binlog_format=mixed
#二进制日志自动删除/过期的天数。默认值为0，表示不自动删除
#expire_logs_days=7
#跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
slave_skip_errors=1062
#每个bin-log最大大小，当此大小等于500M时会自动生成一个新的日志文件。一条记录不会写在2个日志文件中，所以有时日志文件会超过此大小。
max_binlog_size=500M
#当Slave从Master数据库读取日志时更新新写入日志中，如果只启动log-bin 而没有启动log-slave-updates则Slave只记录针对自己数据库操作的更新。
log-slave-updates

[client]
default-character-set=utf8

[mysqldump]
quick
max_allowed_packet=32M

!includedir/etc/mysql/conf.d/