<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="global :: head('mycloud后台管理')"></head>
<body>
<div class="container">
    <div class="row" th:include="global :: navigation"></div>
    <div class="row" th:include="global :: status(${failBackupCount},${successBackupCount},${waitBackupCount},${failRestoreCount},${successRestoreCount},${waitRestoreCount})"></div>
    <div class="row" th:include="global :: uploadFileForm(${token})"></div>
    <div class="row" th:include="global :: inquire"></div>
    <div class="row" th:include="global :: listFile(${files})"></div>
    <div class="row" th:replace="global :: pages(${pages})"></div>
    <div class="row" th:replace="global :: tail"></div>
</div>

<div th:replace="global :: globalJs"></div>
</body>
</html>