<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="global :: head('mycloud登录')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h1>我的文件服务器 mycloud</h1>
            </div>
            <p>主要用来做图床，以及做文件服务器。</p>
        </div>
        <div class="col-sm-6">
            <div class="row" th:include="global :: loginForm(${info})"></div>
        </div>
    </div>
</div>

<div th:replace="global :: globalJs"></div>
</body>
</html>