<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="templates :: head(所属管理)">
    <meta charset="UTF-8">
    <title>所属管理</title>
</head>
<body>

<div class="container">
    <div class="row" th:include="templates :: navbar"></div>
    <div class="row" th:include="templates :: fileInfo-own-list"></div>
    <div class="row" th:replace="templates :: pagination"></div>
    <div class="row" th:include="templates :: navigation"></div>
</div>
<div class="row" th:include="templates :: js"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var paginationVue = createPaginationVue();
    var fileInfoOwnListVue = createFileInfoOwnListVue();
    fileInfoOwnListVue.paginationVue = paginationVue;
    paginationVue.vue = fileInfoOwnListVue;
    paginationVue.pageTurn(1);
    /*]]>*/
</script>

</body>
</html>