<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.css" rel="stylesheet"/>
    <title th:text="${title}">templates</title>
</head>
<body>
<div class="container">

    <div class="row" th:fragment="navbar">
        <div class="col-sm">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" id="navbar">
                <a class="navbar-brand" th:href="@{/}">mycloud</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                        aria-controls="navbar-collapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/page/own}">所属管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/page/user}">用户管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/page/permission}">权限管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/page/authorization}">授权管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/page/exceptionInfo}">异常日志</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item" th:if="${session.user==null}">
                            <a class="nav-link" th:href="@{/login}">登录</a>
                        </li>
                        <li class="nav-item" th:if="${session.user!=null}">
                            <a class="nav-link" th:href="@{#}" th:text="${session.user.username}">cellargalaxy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <hr/>

    <div class="row" th:fragment="login-form">
        <div class="col-sm">
            <form class="form-signin text-center" id="login-form" onsubmit="return false">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <input type="text" class="form-control" placeholder="用户名" required="required" v-model="username"/>
                <input type="password" class="form-control" placeholder="密码" required="required"
                       v-model="userPassword"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" @click="login">登录</button>
                <!--<p>我的文件床 mycloud</p>-->
                <!--<p>&copy; 2017-2018</p>-->
            </form>
        </div>
    </div>

    <hr/>

    <div class="row" th:fragment="exception-info-table">
        <div class="col-sm">
            <div class="table-responsive" id="exception-info-table">
                <table class="table table-hover">
                    <caption>异常栈表格({{exceptionInfos.length}})</caption>
                    <thead>
                    <tr>
                        <th colspan="2">其他信息</th>
                        <th>异常栈</th>
                    </tr>
                    </thead>
                    <tbody v-for="exceptionInfoVo in exceptionInfos">
                    <tr>
                        <td>状态</td>
                        <td v-text="exceptionInfoVo.status"></td>
                        <td rowspan="3">
                            <pre><code v-text="exceptionInfoVo.exceptionStack"></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>信息</td>
                        <td v-text="exceptionInfoVo.massage"></td>
                    </tr>
                    <tr>
                        <td>时间</td>
                        <td v-text="new Date(exceptionInfoVo.date).format('yyyy-MM-dd hh:mm:ss')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row" th:fragment="user-table">
        <div class="col-sm">
            <div class="table-responsive" id="user-table">
                <table class="table table-hover" style="min-width: 40em;">
                    <caption>用户表格({{users.length}})</caption>
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="用户名" v-model="userForm.username"/>
                        </td>
                        <td>
                            <input type="password" class="form-control" placeholder="密码"
                                   v-model="userForm.userPassword"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-success" @click="addUser">增添</button>
                        </td>
                    </tr>
                    <tr v-for="(user, userIndex) in users">
                        <td>
                            <input type="text" class="form-control" placeholder="用户名"
                                   v-bind:v-bind:value="user.username" v-model="users[userIndex].username"/>
                        </td>
                        <td>
                            <input type="password" class="form-control" placeholder="密码"
                                   v-bind:v-bind:value="user.userPassword" v-model="users[userIndex].userPassword"/>
                        </td>
                        <td v-text="new Date(user.createTime).format('yyyy-MM-dd hh:mm:ss')"></td>
                        <td v-text="new Date(user.updateTime).format('yyyy-MM-dd hh:mm:ss')"></td>
                        <td>
                            <button type="button" class="btn btn-warning" @click="changeUser(userIndex)">修改</button>
                            <button type="button" class="btn btn-danger" @click="removeUser(userIndex)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row" th:fragment="permission-table">
        <div class="col-sm">
            <div class="table-responsive" id="permission-table">
                <table class="table table-hover" style="min-width: 40em;">
                    <caption>权限表格({{permissions.length}})</caption>
                    <thead>
                    <tr>
                        <th>权限id</th>
                        <th>权限备注</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="number" class="form-control" placeholder="权限id"
                                   v-model="permissionForm.permissionId"/>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="权限备注"
                                   v-model="permissionForm.permissionMark"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-success" @click="addPermission">增添</button>
                        </td>
                    </tr>
                    <tr v-for="(permission, permissionIndex) in permissions">
                        <td v-text="permission.permissionId"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="权限备注"
                                   v-bind:v-bind:value="permission.permissionMark"
                                   v-model="permissions[permissionIndex].permissionMark"/>
                        </td>
                        <td v-text="new Date(permission.createTime).format('yyyy-MM-dd hh:mm:ss')"></td>
                        <td v-text="new Date(permission.updateTime).format('yyyy-MM-dd hh:mm:ss')"></td>
                        <td>
                            <button type="button" class="btn btn-warning" @click="changePermission(permissionIndex)">
                                修改
                            </button>
                            <button type="button" class="btn btn-danger" @click="removePermission(permissionIndex)">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row" th:fragment="user-authorization-table">
        <div class="col-sm">
            <div class="table-responsive" id="user-authorization-table">
                <table class="table table-hover" style="min-width: 20em;">
                    <caption>用户授权表格({{userAuthorizations.length}})</caption>
                    <thead>
                    <tr>
                        <th>用户</th>
                        <th>权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <select class="form-control" v-model="authorizationForm.userId">
                                <option v-for="user in users"
                                        :value="user.userId"
                                        v-text="user.username"></option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" v-model="authorizationForm.permissionId">
                                <option v-for="permission in permissions"
                                        :value="permission.permissionId"
                                        v-text="permission.permissionMark"></option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" @click="addAuthorization(-1)">增添</button>
                        </td>
                    </tr>
                    <tr v-for="(userAuthorization, userAuthorizationIndex) in userAuthorizations">
                        <td v-text="userAuthorization.user.username"></td>
                        <td>
                            <span class="badge badge-light"
                                  v-for="(authorization, authorizationIndex) in userAuthorization.authorizations"
                                  v-text="authorization.permissionMark"
                                  @click="showModal(userAuthorizationIndex,authorizationIndex)"></span>
                        </td>
                        <td>
                            <form class="form-inline" onsubmit="return false">
                                <select class="form-control"
                                        v-model="userAuthorizations[userAuthorizationIndex].authorizationForm.permissionId">
                                    <option v-for="permission in permissions"
                                            :value="permission.permissionId"
                                            v-text="permission.permissionMark"></option>
                                </select>
                                <button type="button" class="btn btn-success"
                                        @click="addAuthorization(userAuthorizationIndex)">增添
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="modal fade" id="authorization-table-modal" tabindex="-1" role="dialog"
                     aria-labelledby="authorization-table-modal-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="authorization-table-modal-title">授权</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>用户</label>
                                    <input type="text" class="form-control" readonly="readonly"
                                           :value="authorization.username"/>
                                </div>
                                <div class="form-group">
                                    <label>权限</label>
                                    <input type="text" class="form-control" readonly="readonly"
                                           :value="authorization.permissionMark"/>
                                </div>
                                <div class="form-group">
                                    <label>创建日期</label>
                                    <input type="text" class="form-control" readonly="readonly"
                                           :value="new Date(authorization.createTime).format('yyyy-MM-dd hh:mm:ss')"/>
                                </div>
                                <div class="form-group">
                                    <label>更新日期</label>
                                    <input type="text" class="form-control" readonly="readonly"
                                           :value="new Date(authorization.updateTime).format('yyyy-MM-dd hh:mm:ss')"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" @click="deleteAuthorization">删除</button>
                                <button type="button" class="btn btn-secondary" @click="hideModal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm">
            <form id="upload-file-form" onsubmit="return false">
                <div class="form-group">
                    <input type="file" class="form-control-file file" data-show-upload="false" required="required"
                           @change="choiceFile"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="分类" required="required" v-model="sort"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="描述" v-model="description"></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" @click="uploadFile">上传</button>
            </form>
        </div>
    </div>

    <hr/>

    <div th:fragment="fileInfo-own-list">
        <div class="row" id="fileInfo-own-list">
            <div class="col-sm-4 col-md-4" v-for="(fileInfoOwn, fileInfoOwnIndex) in fileInfoOwns">
                <div class="thumbnail">
                    <a :href="fileInfoOwn.fileInfo.url" target="_blank">
                        <img :src="fileInfoOwn.fileInfo.url" class="img-thumbnail img-fluid"/>
                    </a>
                    <div class="caption">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>md5</td>
                                <td><code v-text="fileInfoOwn.fileInfo.md5"></code></td>
                            </tr>
                            <tr>
                                <td>url</td>
                                <td><code v-text="fileInfoOwn.fileInfo.url"></code>
                                </td>
                            </tr>
                            <tr>
                                <td>大小</td>
                                <td><code v-text="fileSize(fileInfoOwn.fileInfo.fileLength)"></code></td>
                            </tr>
                            <tr>
                                <td>类型</td>
                                <td><code v-text="fileInfoOwn.fileInfo.contentType"></code></td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td><code
                                        v-text="new Date(fileInfoOwn.fileInfo.createTime).format('yyyy-MM-dd hh:mm:ss')"></code>
                                </td>
                            </tr>
                            <tr>
                                <td>所属人</td>
                                <td>
                                    <span class="badge badge-light" v-for="(own, ownIndex) in fileInfoOwn.owns"
                                          v-text="own.username" @click="showModal(fileInfoOwnIndex, ownIndex)"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control"
                                            v-model="fileInfoOwns[fileInfoOwnIndex].ownForm.userId">
                                        <option v-for="user in users"
                                                :value="user.userId"
                                                v-text="user.username"></option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" @click="addOwn(fileInfoOwnIndex)">增添
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="own-list-modal" tabindex="-1" role="dialog" aria-labelledby="own-list-modal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">所属</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>MD5</label>
                                <input type="text" class="form-control" readonly="readonly" :value="own.md5"/>
                            </div>
                            <div class="form-group">
                                <label>所属人</label>
                                <input type="text" class="form-control" readonly="readonly" :value="own.username"/>
                            </div>
                            <div class="form-group">
                                <label>文件名</label>
                                <input type="text" class="form-control" v-bind:v-bind:value="own.fileName"
                                       v-model="own.fileName"/>
                            </div>
                            <div class="form-group">
                                <label>分类</label>
                                <input type="text" class="form-control" v-bind:v-bind:value="own.sort"
                                       v-model="own.sort"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" v-text="own.description"
                                          v-model="own.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>所属日期</label>
                                <input type="text" class="form-control" readonly="readonly"
                                       :value="new Date(own.createTime).format('yyyy-MM-dd hh:mm:ss')"/>
                            </div>
                            <div class="form-group">
                                <label>更新日期</label>
                                <input type="text" class="form-control" readonly="readonly"
                                       :value="new Date(own.updateTime).format('yyyy-MM-dd hh:mm:ss')"/>
                            </div>
                            <div class="form-group">
                                <label>文件大小</label>
                                <input type="text" class="form-control" readonly="readonly"
                                       :value="fileSize(own.fileLength)"/>
                            </div>
                            <div class="form-group">
                                <label>文件类型</label>
                                <input type="text" class="form-control" readonly="readonly" :value="own.contentType"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="deleteOwn">删除</button>
                            <button type="button" class="btn btn-warning" @click="changeOwn">修改</button>
                            <button type="button" class="btn btn-secondary" @click="hideModal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <nav aria-label="navigation" id="pagination" th:fragment="pagination">
        <ul class="pagination justify-content-center">
            <li v-for="page in pages" :class="'page-item' + (page==pageForm?' active':'')">
                <a class="page-link" v-text="page" @click="pageTurn(page)">1</a>
            </li>
            <li class="page-item">
                <input type="number" class="form-control" min="1" v-model="pageForm" @keyup.enter="pageTurn(-1)"/>
            </li>
            <li class="page-item">
                <button type="button" class="btn btn-primary" @click="pageTurn(-1)">GO</button>
            </li>
        </ul>
    </nav>

    <hr/>


    <div class="row" th:fragment="navigation">
        <div class="col-sm">
            <nav class="navbar sticky-top navbar-light bg-light" role="navigation">
                <span class="navbar-text">
                    我的文件床 mycloud &copy; 2017-2018
                </span>
            </nav>
        </div>
    </div>

</div>
</body>
<div th:fragment="js">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/locales/zh.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.js"></script>
    <script src="../static/js/api.js" th:src="@{/js/api.js}"></script>
    <script src="../static/js/vues.js" th:src="@{/js/vues.js}"></script>
</div>

<script>
    createFileUploadFormVue()

    function createFileUploadFormVue() {
        var vue = new Vue({
            el: '#upload-file-form',
            data: {
                file: null,
                sort: null,
                description: null
            },
            methods: {
                choiceFile: function (event) {
                    this.file = event.target.files[0];
                },
                uploadFile: function () {
                    console.log('uploadFile, file:' + this.file + ', sort: ' + this.sort + ', description: ' + this.description)
                }
            }
        });
        return vue;
    }


    function md5(file, callBack) {
        var fileReader = new FileReader(),
            blobSlice = File.prototype.mozSlice || File.prototype.webkitSlice || File.prototype.slice,
            chunkSize = 2097152,
            // read in chunks of 2MB
            chunks = Math.ceil(file.size / chunkSize),
            currentChunk = 0,
            spark = new SparkMD5();

        fileReader.onload = function (e) {
            spark.appendBinary(e.target.result); // append binary string
            currentChunk++;

            if (currentChunk < chunks) {
                loadNext();
            }
            else {
                callBack(spark.end());
            }
        };

        function loadNext() {
            var start = currentChunk * chunkSize,
                end = start + chunkSize >= file.size ? file.size : start + chunkSize;

            fileReader.readAsBinaryString(blobSlice.call(file, start, end));
        };

        loadNext();
    }


    createLoginFormVue();

    function createLoginFormVue() {
        var vue = new Vue({
            el: '#login-form',
            data: {
                username: null,
                userPassword: null
            },
            methods: {
                login: function () {
                    console.log('登录，账号：' + this.username + ', 密码：' + this.userPassword);
                }
            }
        });
        return vue;
    }


    var navbarVue = createNavbarVue();
    navbarVue.brand = {text: 'mycloud', url: '#'};
    navbarVue.lefts = [
        {text: '文件管理', url: '#', active: true},
        {text: '用户管理', url: '#', active: false},
        {text: '执行日志', url: '#', active: false},
        {text: '异常日志', url: '#', active: false},
        {text: '权限授权', url: '#', active: false},
    ];
    navbarVue.rights = [
        {text: '登录', url: '#', active: false},
    ]

    function createNavbarVue() {
        var vue = new Vue({
            el: '#navbar',
            data: {
                brand: {text: null, url: null},
                lefts: [],
                rights: []
            },
            methods: {
                loadData: function (data) {
                    console.log('loadData')
                },
                getNavbar: function () {
                    console.log('getNavbar')
                }
            }
        });
        return vue;
    }


    // setTimeout('location.reload()', 1000 * 30);
</script>
</html>